ul{

  position: fixed;
  padding: 10%;
  width: 100%;

  }
.button1{
  position: absolute;
  float: left;
  font-size: 15px;
  text-align: center;
  display: inline-block;
  background-color:#6498fe;
  border: none;
  border-radius: 4px;
  padding: 10px 15px;
  color:white;
  text-overflow: ellipsis;
  text-transform: uppercase;
  overflow: hidden;
  outline: none;
  cursor: pointer;
  transition: box-shadow 0.2s;
}
.button2{

  float: right;
  font-size: 15px ;
  text-align: center;
  display: inline-block;
  border-radius: 4px;
  background-color:#6498fe;
  border: none;
  padding: 10px 15px;
  color:white;
  text-overflow: ellipsis;
  text-transform: uppercase;
  overflow: hidden;
  outline: none;
  cursor: pointer;
  transition: box-shadow 0.2s;
}
.vertical {
  border-left: 6px solid black;
  height: 200px;
  position:absolute;
  left: 50%;
}
.img{
  max-width:50%;
  float: left;
  padding: 3%;
}
.img2{
  max-width:40%;
  float: right;
  padding: 3%;
}
